import styles from "./{{pascalCase name}}.module.scss";

export default function {{pascalCase name}}() {
  return (
    <div className={styles.container}>
      <p>{{pascalCase name}} component</p>
    </div>
  );
}