@import "../../../styles/variables-and-mixins";

.titleBg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color-11;

  @media (max-width: 800px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.titleContainer {
  @include container;
  background: url("../../../../public/img/dec/top-right.svg") no-repeat top right 20px;

  p {
    @include font-2-l-b;
    color: $color-5;

    margin-bottom: 4px;

    @media (max-width: 800px) {
      font-size: 1rem;
      text-transform: lowercase;
      font-weight: 400;
    }
  }

  h1 {
    @include titleDark;
  }
}
