import { DocumentTitle } from "../components/DocumentTitle"
import Header from "../components/patterns/Header"
import HeaderTitle from "../components/patterns/HeaderTitle";
import Footer from "../components/patterns/Footer"

import styles from "../styles/{{pascalCase name}}.module.scss";

export default function {{pascalCase name}}() {
  return (
    <>
      <DocumentTitle
        title=""
        description=""
      />
      <Header />

      <main>
        <HeaderTitle
          subtitle=""
          title=""
        />

      <div className={styles.Container}>Page {{pascalCase name}} Content</div>
      </main>

      <Footer />
    </>
  )
}