@import "variables-and-mixins";

.termsContainer {
  @include font-2-s;
  color: $color-10;
  @include container;

  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    @include font-1-l;
    color: $color-11;

    font-weight: 600;
    margin-bottom: 20px;
  }

  p + h2 {
    margin-top: 40px;
  }

  p {
    max-width: 75ch;
    margin-bottom: 24px;
  }
}
