@import "../../styles/variables-and-mixins";

.container {
  color: $color-12;
}

.reactModalOverlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reactModalContent {
  width: 100%;
  max-width: 576px;
  background: $color-2;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}
.reactModalClose {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}
